body {
  font-size: 4em;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#happy {
  color: #14a76c;
  text-align: center;
}
.error {
  font-size: 0.5em;
  color: red;
}

.icon-wrapper {
  cursor: pointer;
}
.svg-inline--fa {
  font-size: 10vw;
}
button {
  height: 100px;
  align-self: center;
  width: 250px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1em;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

.submit {
  align-self: center;
  height: 4em;
  width: 8em;
  box-shadow: inset 0px -3px 7px 0px #29bbff;
  background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
  background-color: #2dabf9;
  border-radius: 3px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 23px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  /* .App {
    width: 80%;
    min-height: 80vh;
  }
  #button-container {
    width: 100%;
  } */
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  /* .App {
    width: 80%;
    min-height: 80vh;
  }
  #button-container {
    width: 100%;
  } */
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
